/*
.shows{
    width: 100%;
    height: auto;
    background-color: $color2;
    padding: 20px;
    color: $color4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 500px);
    grid-gap: 20px;
}
*/
body {
    background-color: $color2;
}

.contenedorEsp {
    width: 100%;
    height: auto;
    background-color: $color2;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    margin-bottom: 150px;

    & h3 {
        padding-top: 0px;
    }
}

.elem1 {
    @include formato(100%, $color3 , cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/cosquin.jpg);
}

.elem2 {
    color: white;

}


.elem3 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;

    & video {
        position: relative;
        width: 100%;
        height: 100%;

    }

}

.elem4 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: auto;

    //   background-size: 100% 100%;
    & iframe {
        position: relative;
        width: 100%;
        height: 100%;

    }
}

.elem5 {
    @include formato(100%, $color3 , cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/Aca-estamos.png);
}

.elem6 {
    color: white;
}


.elem7 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;

    & video {
        position: relative;
        width: 100%;
        height: 100%;

    }

}

.elem8 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: auto;

    //   background-size: 100% 100%;
    & iframe {
        position: relative;
        width: 100%;
        height: 100%;

    }
}

.elem9 {
    @include formato(100%, $color3 , cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/fiesta\ de\ la\ cerveza\ canelones\ 02.png);
}

.elem10 {
    color: white;
}


.elem11 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;

    & video {
        position: relative;
        width: 100%;
        height: 100%;

    }

}

.elem12 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: auto;

    //   background-size: 100% 100%;
    & iframe {
        position: relative;
        width: 100%;
        height: 100%;

    }
}

.elem13 {
    @include formato(100%, $color3 , cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/semana\ de\ la\ cerveza\ pay.jpg);
}

.elem14 {
    color: white;
}


.elem15 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: center;
    background-size: 100% 100%;

    & video {
        position: relative;
        width: 100%;
        height: 100%;

    }

}

.elem16 {
    @include formato(100%, $color3, cover);
    border: 5px solid $color4;
    background-position: auto;

    //   background-size: 100% 100%;
    & iframe {
        position: relative;
        width: 100%;
        height: 100%;

    }
}

/*
.elem3{
    @include formato(100%,$color3 ,cover);
    border: 5px solid $color4; 
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/Aca-estamos.png);    
}

.elem5{
    @include formato(100%,$color3 ,cover);
    border: 5px solid $color4; 
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/fiesta\ de\ la\ cerveza\ canelones\ 02.png);    
}

.elem7{
    @include formato(100%,$color3 ,cover);
    border: 5px solid $color4; 
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenes/semana\ de\ la\ cerveza\ pay.jpg);    
}
*/