footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

    & img {
        width: 30px;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & i {
        font-size: 25px;
        text-align: center;
        margin-top: 15px;
        padding: 5px;
        margin-right: 10px;
        color: white;
    }
}


.footLogo {
    float: left;
    padding: 10px;
}

.footredes {
    display: inline-flex;
}


.footText {
    font: 8px verdana;
    padding: 3px;
    margin-top: 20px;
    float: right;

    & a {
        color: $color1;
        float: right;
        margin-right: 5px;
        padding-right: 5px;
    }
}